/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #d8b4fe
$textColor = #eee
$borderColor = rgba(100, 100, 100, 0.2)
$codeBgColor = #282c34
